.app {
  display: grid;

  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(2rem, 1fr) [full-end];
  // grid-template-rows: repeat(3, min-content);

  margin: 7rem 0;
  z-index: 0;
}

.app--characters {
  background-image: url("../../assets//img/bg-hero.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
